/*//////fonts css/////////*/
@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoitalic';
    src: url('../fonts/lato-italic-webfont.woff2') format('woff2'),
         url('../fonts/lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*/////*/

* {
	box-sizing: border-box;
}

.wrapper {
	position: relative;
	overflow: hidden;
}

.section {
	white-space: nowrap;
	background-image: url(../img/Background.png);
	max-width: 1600px;
	height: 725px;
	padding: 0 15px;
	margin: 0 auto;
	padding: 145px 0;
}

.container {
	max-width: 1050px;
	margin: 0 auto;
}

.line {
	display: inline-block;
	vertical-align: top;
}

.inform {
	padding: 85px 0 0 0;
	width: 499px;
	outline: none;
	width: 100%;
}

.circle {
	width: 85px;
	height: 85px;
	background-color: black;
	border-radius: 50%;
	margin: 0 30px 0 0;
}

.all-inform {
	width: 50%;
}

.all-inform:after {
	content: '';
	height: 438px;
	width: 3px;
	background-color: #e3e3e3;
	position: absolute;
	top: 0;
	left: 100%;
	margin: 0;
}

.clien-info {
	font-family: 'latoitalic';
	font-size: 16px;
}

.red-name {
	font-family: 'latobold';
	color: #f16d7f;
	font-size: 18px;
}

.subtitle-name {
	display: block;
	font-family: 'latolight';
}

.subscribe {
	text-align: center;
	width: 50%;
	padding: 150px 0 0 0;
}

.text {
	white-space: normal;
	max-width: 70%;
	}

.subscribe h1 {
	text-transform: uppercase;
	font-family: 'latoregular';
	font-size: 24px;
	letter-spacing: .25;
	padding: 0 0 15px 0;
}

.subscribe h2 {
	margin: 0 0 35px 0;
	white-space: normal;
	text-transform: uppercase;
	font-family: 'latoregular';
	font-size: 14px;
	letter-spacing: .25;
}

#e-mail {
	border: none;
	border-radius: 50px 0 0 50px;
	background-color: #e1e1e1;
	height: 45px;
	width: 280px;
	padding: 0 0 0 30px;
	outline: none
}

#submit {
	border: none;
	border-radius: 0 50px 50px 0;
	height: 45px;
	width: 100px;
	margin: 0 0 0 -4px;
	background: #f16d7f;
	color: white;
	cursor: pointer;
	font-family: 'latoregular';
}

#submit:hover {
	background: gold;
	color: black;
}


/*////////slick customuzing/////////////*/

.slick-slider {
	display: inline-block;
}

.my-dots {
	position: absolute;
	bottom: -45px;
	left: 115px;
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	
}

.my-dots li {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 5px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.my-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 40px;
	height: 5px;
	cursor: pointer;
	border: 0;
	outline: none;
	background: #d6d6d6;
}

.my-dots li button:hover {
	background: gold;
}

.my-dots li.slick-active button {
	background-color: #f16d7f;
}


@media (max-width: 768px) {

		
.inform {
	padding: 150px 0 0 0;
	text-align: center;
}

.subscribe {
	padding: 200px 0 0 0;
}

.circle {
	display: block;
	margin: 0 auto;
}	

.text {
	text-align: center;
}

	.subscribe h1 {
		font-size: 18px;
	}

.subscribe h2 {
	font-size: 12px;
}

#e-mail {
	height: 35px;
	width: 200px;
	}

#submit {
	height: 35px;
	width: 70px;
	font-size: 12px;
	}

}
@media (max-width: 425px) {
 	.all-inform:after {
		display: none;
	}

	.all-inform,
	.subscribe {
		display: block;
		width: 100%;
	}

.inform {
	padding: 100px 0 0 0;
}

.subscribe h1,
.subscribe h2 {
	color: white;
}

.subscribe {
	padding: 150px 0 0 0;
}
}

